{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link type="text/css" rel="stylesheet" href="{% static " booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-visualizer">
    <!-- Navbar -->
    <b-navbar type="dark" variant="secondary">
        <b-navbar-brand tag="h1">Decide</b-navbar-brand>
    </b-navbar>

    <div class="voting container" width="50%">
        <div class='row'>
            <h1 class='col-sm'>[[ voting.id ]] - [[ voting.name ]]</h1>
            <div class="col-sm" style="text-align: right; padding-top: 10px;">
                <button onclick="descargarExcel()" class='btn btn-success'>Descargar excel</button>
                <button onclick="descargarImagen()" class='btn btn-success'>Descargar imagen</button>
                <button onclick="descargarPDF()" class='btn btn-success'>Descargar PDF</button>
            </div>
        </div>
        <h2 v-if="!voting.start_date">Votación no comenzada</h2>
        <h2 v-else-if="!voting.end_date">Votación en curso</h2>
        <div v-else>
            <h2 class="heading">Estadísticas:</h2>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in statistics %}
                    <tr>
                        <th>{{data.name}}</th>
                        <td>{{data.value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="buttons" style="padding-top: 2px; text-align: center;"></div>
            <div id="canvas"></div>
        </div>
    </div>
    <div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center; background-color: rgba(0,0,0,0.3);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button id='info' class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Generando PDF...
                  </button>
            </div>
        </div>
      </div>
</div>
{% endblock %}

{% block extrabody %}
<!-- Vuejs -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    var voting = {{ voting| safe}};
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-visualizer',
        data: {
            voting: voting
        }
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var voting = {{ voting| safe}};
    const labels = []
    voting.postproc.forEach(function add(option) { labels.push(option.option) })
    const data = []
    voting.postproc.forEach(function add(option) { data.push(option.postproc) })
    //labels.push('nuevo') // Para probar que aunque haya más valores se siguen viendo bien los colores
    //data.push(10)
    background = []
    border = []
    backgroundColor = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ]
    borderColor = [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ]
    var i = 0
    for (const element in labels) {
        background.push(backgroundColor[i % backgroundColor['length']])
        border.push(borderColor[i % backgroundColor['length']])
        i = i + 1
    }

    const datasets = [{
        label: 'Number of Votes',
        data: data,
        backgroundColor: background,
        borderColor: border,
        borderWidth: 1,
    }]

    const types = ['bar', 'doughnut', 'pie', 'polarArea']
    const types_es = {
        'bar': 'Barra',
        'doughnut': 'Donut',
        'pie': 'Tarta',
        'polarArea': 'Área polar',
    }
    // Crear botones
    for (const type in types) {
        button = document.createElement('button')
        button.setAttribute('onclick', 'changeChart("' + types[type] + '")')
        button.setAttribute('class', 'btn btn-primary')
        button.setAttribute('style', 'margin-right: 2px; width: 10%;')
        button.appendChild(document.createTextNode(types_es[types[type]]))
        // button = '<button onclick="changeChart(' + type + ')" class="btn btn-info" style="margin-right: 2px;">' + type + '</button>'
        document.getElementById('buttons').appendChild(button)
    }

    var myChart

    function createChart(type) {
        c = document.createElement('canvas')
        c.setAttribute('id', 'myChart')
        document.getElementById('canvas').appendChild(c)
        var ctx = document.getElementById('myChart').getContext('2d');
        myChart = new Chart(ctx, {
            type: type,
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
    createChart('bar')

    function changeChart(type) {
        document.getElementById('myChart').remove()
        createChart(type)
    }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js'></script>
<script>
    function descargarExcel() {
        dataPoints = []
        for (var label in labels) {
            d = {}
            d['label'] = labels[label]
            d['votes'] = data[label]
            dataPoints.push(d)
        }
        dataPoints.unshift({ 'label': 'Options', 'votes': 'Votes' });
        var ws = XLSX.utils.json_to_sheet(dataPoints, { skipHeader: true, dateNF: 'YYYYMMDD HH:mm:ss' });
        if (!ws['!cols']) ws['!cols'] = [];
        ws['!cols'][0] = { wch: 17 };
        var wb = XLSX.utils.book_new();

        var filename = 'data_sheet'

        XLSX.utils.book_append_sheet(wb, ws, filename);
        XLSX.writeFile(wb, filename + ".xlsx");
    }
    async function descargarImagen() {
        document.getElementById('info').innerHTML = 'Generando imágenes...'
        myModal = $('#myModal')
        myModal.fadeIn()
        for(type in types){
            changeChart(types[type])
            await new Promise(r => setTimeout(r, 1000));
            var image = myChart.toBase64Image();

            var a = document.createElement('a');
            a.href = myChart.toBase64Image();
            a.download = types[type] + '.png';

            a.click();
        }
        myModal.fadeOut()
    }
    async function descargarPDF() {
        document.getElementById('info').innerHTML = 'Generando PDF...'
        myModal = $('#myModal')
        myModal.fadeIn()
        const images = []
        var reportPageWidth = $('#myChart').innerWidth();
        var reportPageHeight = 0;
        for(var type in types){
            changeChart(types[type])
            await new Promise(r => setTimeout(r, 1000));
            var image = myChart.toBase64Image();
            images.push([image, $('#myChart').innerHeight()])
            reportPageHeight += $('#myChart').innerHeight()
        }
        var pdf = new jsPDF('p', 'px', [reportPageWidth, reportPageHeight]);
        var acum = 0
        for(var image in images){
            pdf.addImage(images[image][0], 'PNG', 0, acum);
            acum += images[image][1]
        }

        pdf.save('data_sheet.pdf');
        myModal.fadeOut()
        images = null
    }
</script>
</body>
{% endblock %}