<!DOCTYPE html>
<html lang='es'>
  <head>
    <title>Sistema de votación DECIDE</title>
    <style>
        .error { 
        color:red 
        }

        .success {
        color:green
        }
    </style>
	<meta charset='utf-8'>
		<link rel="stylesheet" href="/static/css/uikit.min.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/uikit.min.js"></script>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  

	<h1>Sistema de votación DECIDE</h1>
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Inicio</a>

            </li>

        
            <li><a>Sesión iniciada de egc</a></li>
            <li><a href="/authentication/cerrar_sesion">Cerrar sesión</a></li>
            {% if user.is_staff %}
            <li><a href="/authentication/notifications_admin">Notificaciones ADMIN</a></li>
            {% endif %}
            <li><a href="/authentication/notifications">Notificaciones</a></li>
        
            <li><a href='/authentication/groups/import'>Importar grupo desde Excel.</a></li>
            <li><a href='/authentication/groups/export'>Exportar miembros de un grupo a Excel.</a></li>
        </ul>

    </div>
</nav>
	    
		<hr>

        {% block contenido %} {% endblock %}